@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
a{
    text-decoration: none;
}
p{
    margin: 0px;
}
a:hover{
    text-decoration: none;
}
.d-flex-full{
    display: flex;
    justify-content: center;
    align-items: center;
}


.vedio-content{
    width: 100%;
    height: 100vh;
    /* background: #0016dd; */
}
.vedio-content video{
    width: 100%;
}


.about-content{
    width: 100%;
    height: 100vh;
    background: #0016dd;
    color: white;
}

.about-content h1{
    width: 80%;
    font-size: 45px;
    letter-spacing: -0.03em;
    margin: 0;
    padding: 0;
    line-height: 0.9em;
    margin-bottom: 45px;
    font-weight: bold;
}
.about-content a{
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 3px solid white;
}
.about-content a:hover{
    color: white;
}
.about-content p{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.what-content{
    background: #0016dd;
    color: white;
    min-height: 100vh;
}
.what-content h1{
    font-size: 190px;
    font-weight: bold;
}
.what-content .d-flex-full{
    margin-top: -70px;
}
.what-content .para{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin-top: 20px;
    font-size: 14px;
}
.quote-content{
    background: #0016dd;
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-content h2{
    font-size: 38px;
    margin-bottom: 25px;
}
.quote-content .txt-section{
    background: white;
    color: #0016dd;
    padding: 25px;
}
.quote-content h2 span{
    font-weight: bold ;
    font-size: 38px;
    color: #0016dd;
}
.quote-content span{
    font-weight: bold;
    color: black;
    font-size: 17px;
}
.quote-content p{
    color: black;
}

.what-content h3{
    font-weight: bold;
    font-size: 22px;
    line-height: 1.1em;
}


.logo{
    width: 100px;
    position: fixed;
    top: -10px;
    left: 45px;
}
.twitter{
    color: white;
    font-size: 20px;
    position: fixed;
    top: 80px;
    right: 67px;
}
.instagram{
    color: white;
    font-size: 20px;
    position: fixed;
    top: 130px;
    right: 67px;
}
.behance{
    color: white;
    font-size: 20px;
    position: fixed;
    top: 180px;
    right: 65px;
}



.tools-content{
    background: #0016dd;
}
.tools-content h3{
    font-size: 45px;
    font-weight: bold;
    color: white;
}


@media screen and (min-width:992px) {
    .about-content{
        padding: 5px 5px 5px 140px;
    }
}